<div class="papers">
    <div class="paper">
        <div class="paper-header">
            <span class="paper-title"><strong>Poster Session</strong></span>
        </div>
        <ul>
            <li>
                <div class="paper-details">
                    <div class="paper-detail-header">
                        <i>Cross-Modal Consistency Learning for Sign Language Recognition</i>
                        <a href="https://openaccess.thecvf.com/content/CVPR2025W/SLRTP/html/Wu_Cross-Modal_Consistency_Learning_for_Sign_Language_Recognition_CVPRW_2025_paper.html" target="_blank" rel="noopener noreferrer">
                            🔗
                        </a>
                    </div>
                    <small class="author">Kepeng Wu, Zecheng Li, Weichao Zhao, Hezhen Hu, Wengang Zhou, Houqiang Li</small>
                </div>
            </li>
            <li>
                <div class="paper-details">
                    <div class="paper-detail-header">
                        <i>Exploring Pose-based Sign Language Translation: Ablation Studies and Attention Insights</i>
                        <a href="../assets/papers/SLRTP-13.pdf" target="_blank" rel="noopener noreferrer">
                            🔗
                        </a>
                    </div>
                    <small class="author">Tomáš Železný, Jakub Straka, Václav Javorek, Ondřej Valach, Marek Hrúz, Ivan Gruber</small>
                </div>
            </li>
        </ul>
    </div>
     <div class="paper">
        <div class="paper-header">
            <span class="paper-title">
                <strong>Remote Papers</strong>
                <small>Pre-recorded Videos and Live Q&A</small>
            </span>
        </div>
        <ul>
            <li>
                <div class="paper-details">
                    <div class="paper-detail-header">
                        <i>Diffusion-Based Continuous Sign Language Generation with Cluster-Specific Fine-Tuning and Motion-Adapted Transformer</i>
                        <a href="https://openaccess.thecvf.com/content/CVPR2025W/SLRTP/html/Rastgoo_Diffusion-Based_Continuous_Sign_Language_Generation_with_Cluster-Specific_Fine-Tuning_and_Motion-Adapted_CVPRW_2025_paper.html" target="_blank" rel="noopener noreferrer">
                            🔗
                        </a>
                    </div>
                    <small class="author">Razieh Rastgoo, Kourosh Kiani, Sergio Escalera</small>
                </div>
            </li>
            <li>
                <div class="paper-details">
                    <div class="paper-detail-header">
                        <i>BUTID: A Large-scale Sign Language Translation Dataset and Benchmarks for Turkish Sign Language</i>
                        <a href="../assets/papers/SLRTP-18.pdf" target="_blank" rel="noopener noreferrer">
                            🔗
                        </a>
                    </div>
                    <small class="author">Karahan Şahin, Lale Akarun, Kadir Gökgöz, Murat Saraçlar</small>
                </div>
            </li>
            <li>
                <div class="paper-details">
                    <div class="paper-detail-header">
                        <i>CLIP-SLA: Parameter-Efficient CLIP Adaptation for Continuous Sign Language Recognition</i>
                        <a href="https://openaccess.thecvf.com/content/CVPR2025W/SLRTP/html/Alyami_CLIP-SLA_Parameter-Efficient_CLIP_Adaptation_for_Continuous_Sign_Language_Recognition_CVPRW_2025_paper.html" target="_blank" rel="noopener noreferrer">
                            🔗
                        </a>
                    </div>
                    <small class="author">Sarah Alyami, Hamzah Luqman</small>
                </div>
            </li>
        </ul>
    </div>
     <div class="paper">
        <div class="paper-header">
            <span class="paper-title"><strong>Challenge Paper</strong></span>
        </div>
        <ul>
            <li>
                <div class="paper-details">
                    <div class="paper-detail-header">
                        <i>SLRTP2025 Sign Language Production Challenge: Methodology, Results and Future Work</i>
                        <a href="https://openaccess.thecvf.com/content/CVPR2025W/SLRTP/html/Walsh_SLRTP2025_Sign_Language_Production_Challenge_Methodology_Results_and_Future_Work_CVPRW_2025_paper.html" target="_blank" rel="noopener noreferrer">
                            🔗
                        </a>
                    </div>
                    <small class="author">Harry Walsh, Ed Fish, Ozge Mercanoglu Sincan, Mohamed Ilyes Lakhal, Richard Bowden, Neil Fox, Kearsy Cormier, Bencie Woll, Kepeng Wu, Zecheng Li, Weichao Zhao, Haodong Wang, Wengang Zhou, Houqiang Li, Shengeng Tang, Jiayi He, Xu Wang, Ruobei Zhang, Yaxiong Wang, Lechao Cheng, Meryem Tasyurek, Tugce Kiziltepe, Hacer Yalim Keles</small>
                </div>
            </li>
        </ul>
    </div>
</div>
