<div class="schedule">
    <strong class="schedule-date">12 Jun</strong>

    <div class="events">
        <div class="event">
            <span class="time">8:45</span>
            <div class="details">
                <div class="detail">
                    <div class="detail-header">
                        <div class="detail-title">
                            <h5> 📣 Registration & Welcome</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="event">
            <span class="time">9:00</span>
            <div class="details">
                <div class="detail keynote">
                    <div class="detail-header" onclick="this.nextElementSibling.classList.toggle('active')">
                        <div class="avatar-wrapper">
                            <div class="avatar-spinner"></div>
                            <img class="avatar-image" src="../assets/img/speaker_Michael_Black.jpg" alt="Keynote 1 – Michael Black">
                        </div>
                        <div class="detail-title">
                            <h5>Keynote 1 - Michael Black</h5>
                            <small>Soon</small>
                        </div>
                        <svg class="toggle-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12,15.25a.74.74,0,0,1-.53-.22l-5-5A.75.75,0,0,1,7.53,9L12,13.44,16.47,9A.75.75,0,0,1,17.53,10l-5,5A.74.74,0,0,1,12,15.25Z"/></svg>
                    </div>
                    <div class="detail-content">
                        <p>
                            Michael Black is an Honorary Professor at the University of Tübingen and a founding director at the Max Planck Institute for Intelligent Systems. He is renowned for his pioneering work in human motion generation. His research focuses on creating highly realistic digital human models that capture intricate motion details. His work has won several awards including the IEEE Computer Society Outstanding Paper Award (1991), Honorable Mention for the Marr Prize (1999 and 2005), the 2010 Koenderink Prize for Fundamental Contributions in Computer Vision, and one of the ICCV 2013 Helmholtz Prizes. He is a foreign member of the Royal Swedish Academy of Sciences. In 2013 he co-founded Body Labs Inc., which was acquired by Amazon in 2017.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="event">
            <span class="time">9:30</span>
            <div class="details">
                <div class="detail keynote">
                    <div class="detail-header" onclick="this.nextElementSibling.classList.toggle('active')">
                        <div class="avatar-wrapper">
                            <div class="avatar-spinner"></div>
                            <img class="avatar-image" src="../assets/img/speaker_MaartjeDeMeulder.jpg" alt="Keynote 2 – Maartje De Meulder">
                        </div>
                        <div class="detail-title">
                            <h5>Keynote 2 - Maartje De Meulder</h5>
                            <small>Soon</small>
                        </div>
                        <svg class="toggle-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12,15.25a.74.74,0,0,1-.53-.22l-5-5A.75.75,0,0,1,7.53,9L12,13.44,16.47,9A.75.75,0,0,1,17.53,10l-5,5A.74.74,0,0,1,12,15.25Z"/></svg>
                    </div>
                    <div class="detail-content">
                        <p>
                            Maartje De Meulder is a Senior Researcher at HU – University of Applied Sciences Utrecht and also an Honorary Research Fellow at SIGNS@HWU at Heriot-Watt University. Her research addresses the ethical, social, and cultural aspects of sign technology, ensuring that the development of such technologies respects and supports Deaf communities. Her work has been published in a range of different journals such as Language Policy, Applied Linguistics Review, The Journal of Multilingual and Multicultural Development, Human Rights Quarterly, and Translation and Interpreting Studies. She has co-edited Innovations in Deaf Studies (Oxford University Press, 2017) and The Legal Recognition of Sign Languages (Multilingual Matters, 2019), and has been a guest editor of several special issues of journals.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="event">
            <span class="time">10:00</span>
            <div class="details">
                <div class="detail">
                    <div class="detail-header">
                        <div class="detail-title">
                            <h5> Oral Presentations</h5>
                            <small>5 min presentation, and Q&A in the poster session.</small>
                            <small>- Exploring Pose-based Sign Language Translation: Ablation Studies and Attention Insights</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="event">
            <span class="time">10:15</span>
            <div class="details">
                <div class="detail break-time">
                    <div class="detail-header">
                        <div class="detail-title">
                            <h5>☕️ Coffee Break</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="event">
            <span class="time">10:30</span>
            <div class="details">
                <div class="detail keynote">
                    <div class="detail-header" onclick="this.nextElementSibling.classList.toggle('active')">
                        <div class="avatar-wrapper">
                            <div class="avatar-spinner"></div>
                            <img class="avatar-image" src="../assets/img/speaker_Matthias_Niessner.jpg" alt="Keynote 3 – Matthias Nießner">
                        </div>
                        <div class="detail-title">
                            <h5>Keynote 3 - Matthias Nießner</h5>
                            <small>Soon</small>
                        </div>
                        <svg class="toggle-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12,15.25a.74.74,0,0,1-.53-.22l-5-5A.75.75,0,0,1,7.53,9L12,13.44,16.47,9A.75.75,0,0,1,17.53,10l-5,5A.74.74,0,0,1,12,15.25Z"/></svg>
                    </div>
                    <div class="detail-content">
                        <p>
                            Matthias Nießner is a Professor at the Technical University of Munich, where he leads the Visual Computing Lab. He leads groundbreaking research in animatable avatars. He conducts research into 3D digitization at the juncture between the fields of computer graphics, computer vision, and artificial intelligence. His research is oriented towards the generation of 3D models of real-world environments using video and range cameras (for example with Deep Learning). Research conducted in the Visual Computing Lab is highly varied and includes conducting analyses to further the semantic understanding of the 3D environments, video-editing and numerical optimization.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="event">
            <span class="time">11:00</span>
            <div class="details">
                <div class="detail keynote">
                    <div class="detail-header" onclick="this.nextElementSibling.classList.toggle('active')">
                        <div class="avatar-wrapper">
                            <div class="avatar-spinner"></div>
                            <img class="avatar-image" src="../assets/img/speaker_Abraham_Glasser.jpg" alt="Keynote 4 – Abraham Glasser">
                        </div>
                        <div class="detail-title">
                            <h5>Keynote 4 - Abraham Glasser</h5>
                            <small>From Hype to Real-World Solutions: The Interpreting Industry's Collaborative Response to AI</small>
                        </div>
                        <svg class="toggle-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12,15.25a.74.74,0,0,1-.53-.22l-5-5A.75.75,0,0,1,7.53,9L12,13.44,16.47,9A.75.75,0,0,1,17.53,10l-5,5A.74.74,0,0,1,12,15.25Z"/></svg>
                    </div>
                    <div class="detail-content">
                        <p>
                            Abraham Glasser is an Assistant Professor at Gallaudet University since 2023. He specializes in Deaf interaction design for AI technologies. His research is centered on creating AI systems that are accessible and intuitive for Deaf users, ensuring that the interaction between AI and Deaf individuals is natural and effective. He is the recipient of an Honorable Mention in the 2018 National Science Foundation Graduate Research Fellowship program, and he was the first-place winner in the Student Research Competition at the ACM CHI Conference on Human Factors in Computing Systems.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="event">
            <span class="time">11:30</span>
            <div class="details">
                <div class="detail">
                    <div class="detail-header">
                        <div class="detail-title">
                            <h5> 🏆 Sign Language Production Challenge Winners</h5>
                            <small>- Challenge Overview</small>
                            <small>- Team1: A retrieval-based approach using generated gloss segmentation and pose dictionary lookups for high-fidelity sign generation</small>
                            <small>- Team3: A gloss-free transformer encoder-decoder where poses are generated from latent embeddings</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="event">
            <span class="time">11:50</span>
            <div class="details">
                <div class="detail">
                    <div class="detail-header">
                        <div class="detail-title">
                            <h5> ❓ Q&A for Remote Papers</h5>
                            <small>Pre-recorded videos will be available online prior to the session.</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="event">
            <span class="time">12:00</span>
            <div class="details">
                <div class="detail">
                    <div class="detail-header">
                        <div class="detail-title">
                            <h5> 📌 Poster Session & Networking</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
