.schedule {
    --background-color-1: rgb(236, 254, 255);
    --border-color-1:rgb(165 243 252/1);
    --text-color-1: rgb(14 116 144/1);
    --text-color-secondary-1: rgb(22 78 99/1);

    --background-color-2: rgb(255 247 237/1);
    --border-color-2: rgb(254 215 170/1);
    --text-color-2: rgb(194 65 12/1);
    --text-color-secondary-2: rgb(124 45 18/1);

    --background-color-3: rgb(248 250 252/1);
    --border-color-3: rgb(226 232 240/1);
    --text-color-3: rgb(51 65 85/1);
    --text-color-secondary-3: rgb(15 23 42/1);

    --background-color-4: rgb(245 243 255/1);
    --border-color-4: rgb(221 214 254/1);
    --text-color-4: rgb(109 40 217/1);
    --text-color-secondary-4: rgb(76 29 149/1);

    --border-color: #e7e5e4;
    
    --avatar-size: 3rem;
    --avatar-spinner-size: 3px;

    margin-bottom: 3rem;
    
    .schedule-date {
        font-size: 3rem;
        font-weight: bold;
        background: linear-gradient(270deg, #ff0000, #ff9900, #33cc33, #3399ff, #cc33ff, #ff0000);
        background-size: 600% 100%;
        background-clip: text;
        color: transparent;
        animation: gradientMove 2s linear infinite;
    }

    .events {
        padding-left: 1.25rem;
    }

    .event {
        .time {
            position: sticky;
            top: 57px;
            left: -5px;
            display: inline-block;
            text-align: center;
            padding: 0.25rem;
            font-weight: bold;
            font-size: 80%;
            border-radius: .25rem;
            border: 1px solid var(--border-color-1);
            background-color: var(--background-color-1);
            color: var(--text-color-secondary-1);
            margin-left: -1.25rem;
            min-width: 2rem;
        }

        .details {
            padding: 0.5rem 2rem;
            border-width: 0 0 0 1px;
            border-style: solid;
            border-color: var(--border-color);

            .detail {
                border: 1px solid var(--border-color-3);
                border-radius: 0.25rem;
                background-color: var(--background-color-3);
                color: var(--text-color-3);

                .detail-header {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    padding: 0.5rem 1rem;
                    gap: 0.75rem;

                    .toggle-icon {
                        margin-left: auto;
                        width: 1.5rem;
                        height: 1.5rem;
                        transition: all 0.3s ease;
                    }

                    .avatar-wrapper {
                        position: relative;
                        width: var(--avatar-size);
                        height: var(--avatar-size);
                        display: inline-block;

                        .avatar-spinner {
                            position: absolute;
                            top: calc(-1 * var(--avatar-spinner-size));
                            left: calc(-1 * var(--avatar-spinner-size));
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                            padding: var(--avatar-spinner-size);
                            background: conic-gradient(#ff00cc, #3333ff, #00ffcc, #ffcc00, #ff00cc);
                            animation: spin 1.5s linear infinite;
                            mask: radial-gradient(farthest-side, transparent calc(100% - var(--avatar-spinner-size)), black 100%);
                        }

                        .avatar-image {
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                            object-fit: cover;
                            position: relative;
                        }
                    }

                    .detail-title {
                        display: flex;
                        flex-direction: column;

                        h5 {
                            margin: 0;
                            font-weight: bold;
                            color: var(--text-color-secondary-3);
                        }
                    }
                }

                .detail-content {
                    padding: 1rem;
                    display: none;

                    p {
                        font-size: 0.875rem;
                    }

                    &.active {
                        display: block;
                    }
                }

                &:has(.detail-content.active) {
                    .detail-header {
                        .toggle-icon {
                            transform: rotate(180deg);
                        }
                    }
                }

                &:has(.detail-content) {
                    .detail-header {
                        cursor: pointer;
                    }
                }

                &.break-time {
                    background-color: var(--background-color-2);
                    border-color: var(--border-color-2);
                    color: var(--text-color-2);

                    .detail-header {
                        .detail-title h5 {
                            color: var(--text-color-secondary-2);
                        }
                    }
                }

                &.keynote {
                    background-color: var(--background-color-4);
                    border-color: var(--border-color-4);
                    color: var(--text-color-4);

                    .detail-header {
                        .detail-title h5 {
                            color: var(--text-color-secondary-4);
                        }
                    }
                }
            }
        }
    }
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}