.winners {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    margin-bottom: 3rem;
    margin-top: 2rem;

    .winner {
        padding: .5rem 1.5rem;
        border: 1px solid transparent;
        border-radius: 0.5rem;
        margin: 0 1rem;

        .winner-header {
            display: flex;
            align-items: center;
            position: relative;
            
            .winner-title {
                display: flex;
                flex-direction: column;
                color: #44403c;

                strong {
                    color: #1c1917;
                }
            }

            .winner-position {
                border: 1px solid transparent;
                border-radius: 0.25rem;
                width: 2rem;
                height: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: bold;
                font-size: 0.875rem;
                line-height: 1;
                position: absolute;
                top: -1.75rem;
                left: -2.5rem;
            }
        }

        .winner-details {
            display: flex;
            flex-direction: column;
            gap: 0.25rem;
            padding: 0.5rem;
            color: #57534e;
            font-size: 0.875rem;
            
            .author {
                color: #78716c;
            }
        }

        &.gold {
            border: 1px solid #F6D365;

            .winner-position {
                background: #F6D365;
                color: #5A4314;
            }
        }

        &.silver {
            border: 1px solid #D3D3D3;

            .winner-position {
                background: #D3D3D3;
                color: #4A4A4A;
            }
        }

        &.bronze {
            border: 1px solid #D9A066;

            .winner-position {
                background: #D9A066;
                color: #5E3314;
            }
            
        }
    }
}